Package: linux-dtb-legacy-rockchip-rk356x
Source: linux-5.10.160-rockchip-rk356x
Version: 1.0.4
Architecture: arm64
Maintainer: Orange Pi <leeboby@aliyun.com>
Installed-Size: 1178
Section: kernel
Priority: optional
Homepage: https://www.kernel.org/
Description: Linux DTB, version 5.10.160-rockchip-rk356x
 This package contains device blobs from the Linux kernel, version 5.10.160-rockchip-rk356x
