Source: linux-5.10.160-rockchip-rk356x
Section: kernel
Priority: optional
Maintainer: Orange Pi <leeboby@aliyun.com>
Build-Depends: bc, rsync, kmod, cpio, bison, flex | flex:native , , libssl-dev:native
Homepage: https://www.kernel.org/

Package: linux-image-legacy-rockchip-rk356x
Architecture: arm64
Description: Linux kernel, version 5.10.160-rockchip-rk356x
 This package contains the Linux kernel, modules and corresponding other
 files, version: 5.10.160-rockchip-rk356x.

Package: linux-dtb-legacy-rockchip-rk356x
Architecture: arm64
Description: Linux DTB, version 5.10.160-rockchip-rk356x
 This package contains device blobs from the Linux kernel, version 5.10.160-rockchip-rk356x

Package: linux-headers-legacy-rockchip-rk356x
Architecture: arm64
Depends: make, gcc, libc6-dev, bison, flex, libssl-dev
Description: Linux kernel headers for 5.10.160-rockchip-rk356x on arm64
 This package provides kernel header files for 5.10.160-rockchip-rk356x on arm64
 .
 This is useful for people who need to build external modules

Package: linux-libc-dev
Section: devel
Provides: linux-kernel-headers
Architecture: arm64
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
Multi-Arch: same
